doctype 5
html(ng-app)
  head
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/angular.min.js') 
    script(src='/javascripts/app.js') 
    link(rel='stylesheet', href='/stylesheets/style.css')
body 
    div(ng-controller="MainCtrl")
        pre {{output}}
        {{cwd}}
        form(ng-submit='evaluate(command)')
            input(ng-model='command', id='command')
        button(ng-click='kill()') kill  